@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, "Lato", Helvetica, sans serif; }

.container {
  max-width: 1000px;
  margin: 0px auto; }

.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .app .view-container {
    flex: 1;
    overflow-y: scroll; }

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; }
  .login-box p.login-info {
    text-align: center;
    color: #969696; }
    .login-box p.login-info strong {
      color: #505050; }
  .login-box a.btn {
    padding: 20px;
    color: #ffffff;
    background-color: #4a6bf6;
    border-radius: 4px;
    margin: 30px auto;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.1s; }
    .login-box a.btn span {
      margin-right: 10px; }
    .login-box a.btn:hover {
      filter: brightness(1.1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }
  .login-box a.login-trouble {
    color: #4a6bf6;
    cursor: pointer; }
    .login-box a.login-trouble:hover {
      text-decoration: underline; }

nav {
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  z-index: 3; }
  nav .container a.logout {
    display: none; }
  nav .container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around; }
  nav .container a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 12px;
    transition: 0.1s ease-in; }
    nav .container a svg {
      height: 25px;
      width: 25px;
      fill: #969696; }
    nav .container a span {
      color: #969696;
      display: none;
      font-size: 0.9em; }
    nav .container a.active {
      transform: scale(1.1); }
      nav .container a.active svg, nav .container a.active span {
        color: #4a6bf6;
        fill: #4a6bf6; }

@media screen and (min-width: 500px) {
  nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px; }
    nav .container a.logout {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0px; }
      nav .container a.logout p {
        color: #969696;
        font-size: 0.9em; }
      nav .container a.logout img {
        margin-left: 10px;
        border-radius: 50px;
        background-color: #969696;
        height: 25px;
        width: 25px; }
    nav .container ul {
      justify-content: flex-start; }
    nav .container a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 12px 15px;
      margin-right: 20px;
      border-bottom: 3px solid transparent; }
      nav .container a svg {
        height: 20px;
        width: 20px; }
      nav .container a.active {
        border-bottom: 3px solid #4a6bf6;
        transform: scale(1); } }

@media screen and (min-width: 700px) {
  nav .container a {
    margin-right: 40px;
    padding: 12px 2px;
    margin-right: 30px; }
    nav .container a span {
      margin-left: 15px;
      display: inline; } }
