@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, "Lato", Helvetica, sans serif; }

.container {
  max-width: 1000px;
  margin: 0px auto; }

.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .app .view-container {
    flex: 1;
    overflow-y: scroll; }

.btn {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #4a6bf6;
  text-align: center;
  background-color: #ffffff;
  color: #4a6bf6;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.1s ease-in;
  margin-top: 20px;
  min-width: 100px; }
  .btn i {
    margin-right: 5px; }
  .btn:hover {
    filter: brightness(1.1); }
  .btn.filled {
    background-color: #4a6bf6;
    color: #ffffff; }

.speaker-info-item {
  padding: 15px;
  background-color: #f6f6f6;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  margin: 20px 0px; }
  .speaker-info-item img {
    width: 80px;
    height: 80px;
    min-width: 80px;
    border-radius: 100%;
    margin-right: 20px;
    background-color: #dfdfdf;
    overflow: hidden; }
  .speaker-info-item h4 {
    color: #505050;
    font-size: 1.2em;
    margin: 0px 0px 0px 0px; }
  .speaker-info-item h5 {
    color: #969696;
    font-weight: 400;
    font-size: 0.9em;
    font-style: italic; }
  .speaker-info-item p {
    color: #969696;
    margin: 10px 0px;
    font-size: 1em; }

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .login-box p.login-info {
    text-align: center;
    color: #969696; }
    .login-box p.login-info strong {
      color: #505050; }
    .login-box p.login-info:hover {
      filter: brightness(1.1); }
  .login-box a.login-trouble {
    margin-top: 20px;
    color: #4a6bf6;
    cursor: pointer; }
    .login-box a.login-trouble:hover {
      text-decoration: underline; }

section.feedback {
  position: absolute;
  top: 90px;
  left: 20px;
  right: 20px;
  padding: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px; }
  section.feedback i {
    color: #969696;
    display: block;
    text-align: right;
    font-size: 150%;
    margin-bottom: 20px; }
  section.feedback form {
    display: flex;
    flex-direction: column;
    width: 100%; }
    section.feedback form input {
      width: 100%;
      padding: 10px;
      background-color: #ffffff;
      font-size: 0.9em;
      color: #505050;
      border: none;
      margin-top: 10px; }
    section.feedback form button.btn {
      background-color: #505050;
      border-color: #505050;
      color: #ffffff;
      margin: 20px auto;
      width: 150px; }

@media screen and (min-width: 500px) {
  .login-box {
    max-width: 400px;
    border-radius: 4px;
    margin: 40px auto;
    border: 1px solid #dfdfdf;
    background-color: #f6f6f6;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3); } }

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

nav {
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  z-index: 3; }
  nav .container a.logout {
    display: none; }
  nav .container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around; }
  nav .container a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 12px;
    transition: 0.1s ease-in;
    animation: pop 0.2s ease-in;
    transform: scale(1); }
    nav .container a svg {
      height: 25px;
      width: 25px;
      fill: #969696; }
    nav .container a span {
      color: #969696;
      display: none;
      font-size: 0.9em; }
    nav .container a.active {
      transform: scale(1.1); }
      nav .container a.active svg, nav .container a.active span {
        color: #4a6bf6;
        fill: #4a6bf6; }

@media screen and (min-width: 500px) {
  nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px; }
    nav .container a.logout {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0px; }
      nav .container a.logout p {
        color: #969696;
        font-size: 0.9em; }
      nav .container a.logout img {
        margin-left: 10px;
        border-radius: 50px;
        background-color: #969696;
        height: 25px;
        width: 25px; }
    nav .container ul {
      justify-content: flex-start; }
    nav .container a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 12px 15px;
      margin-right: 20px;
      border-bottom: 3px solid transparent; }
      nav .container a svg {
        height: 20px;
        width: 20px; }
      nav .container a.active {
        border-bottom: 3px solid #4a6bf6;
        transform: scale(1); } }

@media screen and (min-width: 700px) {
  nav .container a {
    margin-right: 30px;
    padding: 12px 2px; }
    nav .container a.logout {
      margin-right: 5px; }
    nav .container a span {
      margin-left: 15px;
      display: inline; } }
