@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

div.message {
  margin: 50px auto;
  text-align: center;
  color: #969696;
  padding: 40px; }

ul.sub-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  border-bottom: 1px solid #dfdfdf; }
  ul.sub-nav a {
    text-align: center;
    color: #969696;
    font-size: 0.9em;
    padding: 15px;
    cursor: pointer;
    height: 50px;
    flex: 1;
    transition: 0.1s ease-in;
    border-bottom: 0px solid #4a6bf6;
    text-decoration: none; }
    ul.sub-nav a.active {
      color: #4a6bf6;
      border-bottom: 3px solid #4a6bf6; }

ul.event-filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 20px; }
  ul.event-filters li {
    margin-left: 15px;
    font-size: 1em;
    color: #969696; }
    ul.event-filters li i {
      margin-right: 5px; }
    ul.event-filters li select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#dfdfdf'><polygon points='0,0 100,0 50,50'/></svg>");
      background-size: 10px;
      background-position: calc(100% - 7px) 65%;
      background-color: white !important;
      background-repeat: no-repeat;
      appearance: none;
      width: 150px;
      padding: 5px;
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid #dfdfdf;
      font-size: 0.9em;
      color: #505050;
      margin: 0px; }

ul.event-items-list {
  margin: 10px; }
  ul.event-items-list span.time-label {
    color: #969696;
    font-size: 0.9em;
    margin-bottom: 10px;
    display: inline-block; }
  ul.event-items-list li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    overflow: hidden;
    animation: fadeInUp 0.2s ease-out;
    animation-fill-mode: forwards;
    cursor: pointer;
    opacity: 0;
    position: relative; }
    ul.event-items-list li i.attendance {
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: #dfdfdf; }
      ul.event-items-list li i.attendance.attending {
        color: #4a6bf6; }
    ul.event-items-list li div {
      padding: 15px; }
      ul.event-items-list li div h5 {
        color: #969696;
        font-weight: 100;
        font-size: 0.8em; }
        ul.event-items-list li div h5 span {
          color: #4a6bf6;
          margin-left: 7px; }
      ul.event-items-list li div h3 {
        color: #505050;
        margin: 5px 0px; }
      ul.event-items-list li div p {
        color: #969696; }

@media screen and (min-width: 500px) {
  ul.sub-nav {
    margin-top: 30px;
    justify-content: flex-start; }
    ul.sub-nav li {
      flex: inherit; }
  ul.event-filters {
    margin-top: 30px; }
  ul.event-items-list {
    margin: 40px 10px; } }
