@import 'variables.sass'

div.message
  margin: 50px auto
  text-align: center
  color: $grey3
  padding: 40px

ul.sub-nav
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  list-style-type: none
  border-bottom: 1px solid $grey2
  a
    text-align: center
    color: $grey3
    font-size: 0.9em
    padding: 15px
    cursor: pointer
    height: 50px
    flex: 1
    transition: 0.1s ease-in
    border-bottom: 0px solid $blue
    text-decoration: none
    &.active
      color: $blue
      border-bottom: 3px solid $blue

ul.event-filters
  display: flex
  flex-direction: row
  justify-content: center
  list-style-type: none
  margin: 20px
  li
    margin-left: 15px
    font-size: 1em
    color: $grey3
    i
      margin-right: 5px
    select
      -webkit-appearance: none
      -moz-appearance: none
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#dfdfdf'><polygon points='0,0 100,0 50,50'/></svg>")
      background-size: 10px
      background-position: calc(100% - 7px) 65%
      background-color: rgb(255,255,255) !important
      background-repeat: no-repeat
      appearance: none
      width: 150px
      padding: 5px
      border-radius: 0px
      border: none
      border-bottom: 1px solid $grey2
      font-size: 0.9em
      color: $grey4
      margin: 0px
ul.event-items-list
  margin: 10px
  span.time-label
    color: $grey3
    font-size: 0.9em
    margin-bottom: 10px
    display: inline-block
  li
    margin-bottom: 10px
    display: flex
    flex-direction: row
    border: 1px solid $grey2
    border-radius: 4px
    overflow: hidden
    animation: fadeInUp 0.2s ease-out
    animation-fill-mode: forwards
    cursor: pointer
    opacity: 0
    position: relative
    i.attendance
      position: absolute
      right: 10px
      bottom: 10px
      color: $grey2
      &.attending
        color: $blue
    div
      padding: 15px
      h5
        color: $grey3
        font-weight: 100
        font-size: 0.8em
        span
          color: $blue
          margin-left: 7px
      h3
        color: $grey4
        margin: 5px 0px
      p
        color: $grey3

@media screen and (min-width: 500px)
  ul.sub-nav
    margin-top: 30px
    justify-content: flex-start
    li
      flex: inherit

  ul.event-filters
    margin-top: 30px

  ul.event-items-list
    margin: 40px 10px
