@import 'variables.sass'

// Entrance animation for list items
@keyframes fadeInUp
  0%
    transform: translateY(20px)
    opacity: 0
  100%
    transform: translateY(0px)
    opacity: 1

// News item list
ul.news-item-list
  margin: 10px
  list-style-type: none
  li.news-item
    margin-bottom: 10px
    background-color: $grey1
    cursor: pointer
    animation: fadeInUp 0.2s ease-out
    animation-fill-mode: forwards
    opacity: 0
    div.poster
      height: 200px
      position: relative
      background-position: center
      background-size: cover
      &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0))
        z-index: 1
      h3
        margin: 15px
        position: absolute
        bottom: 0px
        left: 0px
        font-size: 1.4em
        color: $white
        z-index: 2
        font-weight: 400
    p
      color: $grey3
      padding: 15px
      font-size: 0.9em

@keyframes slideIn
  0%
    transform: translateX(100%)
  100%
    transform: translateX(0%)

article.single-update
  width: 100%
  height: 100vh
  background-color: #ffffff
  z-index: 10
  position: fixed
  overflow: hidden
  top: 0
  animation: slideIn 0.4s cubic-bezier(.56,.01,.53,1)
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4)

@media screen and (min-width: 700px)

  ul.news-item-list
    display: flex
    flex-direction: row
    margin: 40px 10px
    li.news-item
      margin-right: 10px
      width: 33%
      flex: 1
      &:last-of-type
        margin-right: 0px
      div.poster
        height: 200px
        position: relative
        background-position: center
        background-size: cover
        &::after
          content: ""
          position: absolute
          top: 0
          left: 0
          bottom: 0
          right: 0
          background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0))
          z-index: 1
        h3
          margin: 15px
          position: absolute
          bottom: 0px
          left: 0px
          font-size: 1.4em
          color: $white
          z-index: 2
      p
        color: $grey3
        padding: 15px
        font-size: 0.9em
