@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

ul.onboarding-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  width: 100%; }
  ul.onboarding-dots a {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #dfdfdf;
    display: inline-block;
    margin: 5px;
    transition: 0.1s ease-in; }
    ul.onboarding-dots a.active {
      background-color: #4a6bf6; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

div.onboarding-item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  opacity: 0;
  animation: slide 0.5s ease-out;
  animation-fill-mode: forwards; }
  div.onboarding-item img {
    max-width: 200px;
    margin-bottom: 20px; }
  div.onboarding-item h2 {
    color: #505050;
    font-size: 2em;
    margin-bottom: 10px; }
  div.onboarding-item p {
    color: #969696; }
  div.onboarding-item h4 {
    color: #969696;
    margin-top: 20px;
    font-size: 1.4em; }
  div.onboarding-item form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%; }
    div.onboarding-item form select {
      background-color: #f6f6f6;
      border: none !important;
      border-radius: 0px;
      padding: 10px;
      font-size: 1em;
      color: #505050;
      width: 100%;
      margin-bottom: 10px; }
  div.onboarding-item button.btn {
    margin-top: 40px; }
